<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iVideoSwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BF246391EC5897100F0FC68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF2464D1EC5897200F0FC68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF246581EC5897200F0FC68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
